@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Custom Colors
$indigo-600: rgb(88, 80, 236);
$indigo-500: rgb(104, 117, 245);
$indigo-400: rgb(141, 162, 251);
$purple-600: rgb(126, 58, 242);
$purple-500: rgb(144, 97, 249);
$purple-400: rgb(172, 148, 250);
$blue-600: rgb(28, 100, 242);
$blue-500: rgb(63, 131, 248);
$blue-400: rgb(118, 169, 250);
$teal-500: rgb(6, 148, 162);
$orange-600: rgb(208, 56, 1);

$primary: $indigo-500;
$info: $purple-500;
$link: $blue-500;

$custom-colors: (
  'accent': (
    $orange-600,
    findColorInvert($orange-600)
  ),
);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$family-sans-serif: 'Inter', sans-serif;

$label-weight: 400;
$link-hover: $blue-600;
$notification-radius: 1px;

@import '~bulma/sass/utilities/derived-variables';

// Colors
$colors: map-merge($colors, $custom-colors);
