@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';

// Custom Colors
$indigo-700: rgb(81, 69, 205);
$indigo-600: rgb(88, 80, 236);
$indigo-500: rgb(104, 117, 245);
$teal-500: rgb(6, 148, 162);
$orange-600: rgb(252, 56, 56);

$primary: $indigo-500;
$info: $teal-500;
$link: $indigo-700;
/*
$success: #5bb75b;
$warning: #faa732;
$danger: #da4f49;
$dark: #363636;
$text: $grey-darker;
*/

$custom-colors: (
  'accent': (
    $orange-600,
    findColorInvert($orange-600)
  )
);

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
$family-sans-serif: 'Inter', sans-serif;
$label-weight: 400;
$link-hover: $indigo-500;
@import '~bulma/sass/utilities/derived-variables';

// Derived variables
// $text: $grey-medium;

// Colors
$colors: map-merge($colors, $custom-colors);
